.wrapper {
  display: flex;
  height: inherit;
  text-align: center;
  flex-direction: row;
  align-items: center;
  .left {
    flex: 1;
    height: 341px;
  }
  .right {
    flex: 1;
    height: 341px;
    text-align: left;
    padding-top: 20px;
    h1 {
      font-size: 64px;
      font-weight: bold;
      color: rgba(0,0,0,.65);
    }
    h4 {
      font-size: 24px;
      color: rgba(0,0,0,.35);
    }
  }
}
