body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* background-color: #eaeaea; */
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root{
  height: 100%;
}

#root >div{
  overflow: hidden;
  height: inherit;
}

.loader{
  position: absolute;
  left: 0;
  right: 0;
  width: 184px;
  height: 72px!important;
  padding: 24px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.dot{
  width: 24px;
  height: 24px;
  background: #3ac;
  border-radius: 100%;
  display: inline-block;
  animation: slide 1s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0.1s;
  background: #32aacc;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
  background: #64aacc;
}

.dot:nth-child(3) {
  animation-delay: 0.3s;
  background: #96aacc;
}

.dot:nth-child(4) {
  animation-delay: 0.4s;
  background: #c8aacc;
}

.dot:nth-child(5) {
  animation-delay: 0.5s;
  background: #faaacc;
}

@keyframes slide {
  0% {
    transform: scale(1)
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1)
  }
}
.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
  overflow: hidden;
}
.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}

.router-fade-enter-active {
  transition: all .3s ease;
  overflow: hidden!important;
}
.router-fade-leave-active {
  transition: all .3s cubic-bezier(1, .5, .8, 1);
  overflow: hidden!important;
}
.router-fade-enter, .router-fade-leave {
  transform: translateX(10px);
  opacity: 0;
}
