@media screen and (max-width: 1199px) {
  .extraContent{
    margin-left: 0px!important;
    width: 100%!important;
    max-width: 320px!important;
    min-width: 320px!important;
    text-align: left!important;
  }
  .contentPadding{
    width: 100%!important;
  }
}
@media screen and (max-width: 576px) {
  .content{
    margin: 24px 0!important;
  }
  .extraContent{
    margin-left: 0px!important;
    width: 100%!important;
    max-width: 100%!important;
    min-width: 100%!important;
    text-align: left!important;
  }
  .contentPadding{
    padding: 0!important;
  }
  .programStatis{
    width: 100%;
  }
}
.home {
  .header {
    background: #fff;
    padding: 48px 32px 16px 32px;
    .headerInfo{
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      .userInfo{
        flex: auto;
        display: flex;
        margin-bottom: 12px;
        .avatar{
          width: 72px;
          height: 72px;
        }
        .des{
          flex: 1;
          margin-left: 24px;
          padding-top: 10px;
          color: rgba(0,0,0,.45);
        }
      }
      .extraContent{
        flex: 0 1 auto;;
        min-width: 360px;
        margin-left: 88px;
        text-align: right;
        .number{
          position: relative;
          p {
            color: rgba(0,0,0,.45);
          }
          div {
            font-size: 24px;
            color: #000;
            span{
              font-size: 18px;
              color: rgba(0,0,0,.45);
            }
          }
        }
        .number:after{
          content: ' ';
          display: block;
          height: 100%;
          width: 1px;
          background: #000;
        }
      }
    }
  }
  .content{
    margin: 24px 12px;
    .contentPadding {
      padding: 0 10px;
    }
    .contentMargin {
      margin-bottom: 24px;
    }
  }
}
.card {
  h5{
    i{
      font-size: 20px;
      vertical-align: middle;
    }
  }
  p{
    color: rgba(0, 0, 0, .45);
  }
  p:nth-child(2) {
    height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  p:last-child{
    margin-bottom: 0;
    font-size: 12px;
    span{
      float: right;
    }
  }
}
.moment{
  width: 100%!important;
  > span:nth-child(1) {
    vertical-align: top;
  }
  > span:nth-child(2) {
    display: inline-block;
    width: calc(~"100% - 78px");
    margin-left: 24px;
    height: 48px;
    color: #333;
    span {
      color: rgba(0, 0, 0, .45)!important;
      margin-left: 24px;
    }
    > span:nth-child(2) {
      display: block;
      text-align: right;
      font-size: 12px;
    }
  }
}
.teamCard{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
